{
  "TOKEN": "",
  "OWNERS": [""],
  "MONGODB_URI": "",
  "LYRICS_ENGINE": "genius",
  "KSOFT_API_KEY": "",
  "GENIUS_API_KEY": "",
  "NODES": [
    {
      "HOST": "",
      "PASSWORD": "",
      "PORT": 80,
      "IDENTIFIER": "",
      "RETRY_AMOUNT": 3,
      "RETRY_DELAY": 1000,
      "SECURE": false
    }
  ],
  "AUTO_RESUME_DELAY": 1500,
  "DEBUG": true,
  "LOG_USAGE": false,
  "NETWORK_DEV": "eth0",
  "NETWORK_DEV_INDEX": 0,
  "DEBUG_SERVER": "",
  "VALID_SERVERS": ["", ""]
}
